@charset "ISO-8859-1";

.light-color{
	background-color: #edf2f4;
}

.light-text-color{
	color:#edf2f4;
}

.medium-color{
	background-color: #90a955;
}

.medium-text-color{
	color:#90a955;
}

.very-dark-text-color{
	color:#31572c;
}

.dark-color{
	background-color: #4f772d;
}

.dark-text-color{
	color:#4f772d;
}

.table-text{
	margin:0px 0px;
	padding:1px 2px;
	border:solid;
	border-color:#4f772d;
	border-width:0.5vh 1vh;
}

.margin-padding-0{
	margin:0px;
	padding:0px;
}

.top-div{
/* 	height:20%; */
	background-color: #edf2f4;
/* 	display: block; */
	height: 10vh; 
}

.title-background{
	background-color: #4f772d;
}

.margin-only-top-10vh{
	margin:2vh auto;
}

.home-page-link{
	color:#edf2f4;
}

.accordion{
	margin-top:2vh;
	margin-bottom:2vh;
}

.accordion-button:not(.collapsed) {
  color: #FFF  !important;
  background-color: #90a955 !important;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
  background-color: #90a955 !important;
    color:#FFF !important;
    text-decoration: none !important;
     border: hidden !important;
       border-color: #FFF !important;
    box-shadow: 0px !important;    
}

.accordion-body{
	background-color: #90a955 !important;
}

.accordion-button.collapsed {
  color: #31572c  !important;
  background-color: #edf2f4 !important;
}


input[type="text"], textarea {
  background-color : #edf2f4;
}

select{
	background-color : #edf2f4;
}


